#sidebar: p {{ sidebar_text }}
#egf-logo

h1 {{ title }}

p.
  Hiya I am some text.

.ui.container
  .ui.icon.message.yellow.block-center
    i.exclamation.circle.icon
    .content
      .header The header
      p.
        the content

.ui.piled.segment
  p bla bla


h4 Read this table !

table.ui.celled.table
  thead
    tr
      th File
      th description
  tbody
    tr
      td No Name Specified
      td Unknown
      td.negative None
    tr.positive
      td Jimmy
      td
        i.exclamation.circle.icon
        |  Approved
      td None
    tr
      td Jamie
      td Unknown
      td.positive
        i.exclamation.circle.icon
        |  Requires call
    tr.negative
      td Jill
      td Unknown
      td None

h3 Another paragraph

p Bla bla bla bla bla bla bla bla bla bla

h2  Another table just to get 2 pages 

table.ui.celled.table
  thead
    tr
      th Name
      th Status
      th Notes
  tbody
    tr
      td No Name Specified
      td Unknown
      td.negative None
    tr.positive
      td Jimmy
      td
        i.exclamation.circle.icon
        |  Approved
      td None
    tr
      td Jamie
      td Unknown
      td.positive
        i.exclamation.circle.icon
        |  Requires call
    tr.negative
      td Jill
      td Unknown
      td None
